<div data-ng-controller="OverviewCtrl" >
<!-- <div class="row alerts-container" data-ng-controller="OverviewCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div> -->

<div class="row">
	<div class="col-lg-12 col-md-12 col-xs-12" style="padding: 1%;>
		<rd-widget>
			<rd-widget-body">
				<form class="form-inline">
					<div class="col-lg-3 col-md-4 col-xs-6">
  						<div class="form-group">
    						<label for="state">Geography: </label>
    						<select class = "form-control">
    							<option ng-repeat="state in states" value="{{state}}">{{state}}</option>
      						</select>
  						</div>
  					</div>
  					<div class="col-lg-3 col-md-4 col-xs-6">
  						<div class="form-group">
    						<label for="date">Time Period: </label>
    						<select class = "form-control">
         						<option ng-repeat="date in dates" value="{{date}}">{{date}}</option>
      						</select>
  						</div>
  					</div>
				</form>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">87678</div>
				<div class="comment">Number of Policies</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-bar-chart"></i>
				</div>
				<div class="title">$463,826</div>
				<div class="comment">Gross Premium</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-4 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-percent"></i>
				</div>
				<div class="title">23</div>
				<div class="comment">Loss Ratio</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<!-- <div class="col-lg-4 col-md-6 col-xs-12">
  <div gridster="gridsterOptions">
  	<ul>
  		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
  		  <div class="box">
            <div class="box-header">
                <h3>{{ widget.name }}</h3>
            </div>
            <div class="box-content">
              <nvd3 options="widget.chart.options" 
                    data="widget.chart.data" 
                    api="widget.chart.api" 
                    config="config" 
                    events="events"></nvd3>
            </div>
        </div>
  		</li>
  	</ul>
  </div>
</div> -->

<div class="row">
	<div class="col-lg-6" ng-repeat="widget in dashboard.widgets">
		<rd-widget>
      		<rd-widget-header>
				{{widget.name}}
      		</rd-widget-header>
      		<rd-widget-body classes="no-padding">
				<nvd3 options="widget.chart.options" 
                    data="widget.chart.data" 
                    api="widget.chart.api" 
                    config="config" 
                    events="events"></nvd3>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Extras">
   				<button class="btn btn-sm btn-info">Button</button>
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
				</div>
				<hr />
				<div class="message">
					<a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div> -->
</div>