<div data-ng-controller="ImpactCtrl">
  <div class="row">
    <div class="col-lg-6">
       <graph data="graphData" height="400" width="100%">
          <x field="Month"></x>
          <y field="Sales"></y>
          <line field="storeId" value="2"></line>
          <line field="storeId" value="1"></line>
       </graph>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" ng-repeat="widget in dashboard.widgets">
      <rd-widget>
          <rd-widget-header>
          {{widget.name}}
          </rd-widget-header>
          <rd-widget-body classes="no-padding">
              <nvd3 options="widget.chart.options" 
                    data="widget.chart.data" 
                    api="widget.chart.api" 
                    config="config" 
                    events="events"></nvd3>
          </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>