<div data-ng-controller="RatingFactorCtrl">
	<style type="text/css">
	table,
	thead,
	tr,
	tbody,
	th,
	td {
		text-align: center;
	}

	.table td {
		text-align: center;   
	}
	</style>

	<div class="row">
		<table st-table="rowCollection" class="table table-bordered table-striped">
			<thead>
				<tr>
					<td rowspan="2"></td>
					<th colspan="2">B1</th>
					<th colspan="2">PD</th>
					<th colspan="2">COMP</th>
					<th colspan="2">COLL</th>
				</tr>
				<tr>
					<th>Current</th>
					<th>New</th>
					<th>Current</th>
					<th>New</th>
					<th>Current</th>
					<th>New</th>
					<th>Current</th>
					<th>New</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rowCollection">
					<th>{{row.firstHeaderRow}}</th>
					<td>{{row.currentDataColumn2}}</td>
					<td contenteditable="true">{{row.newDataColumn2}}</td>
					<td>{{row.currentDataColumn3}}</td>
					<td contenteditable="true">{{row.newDataColumn3}}</td>
					<td>{{row.currentDataColumn4}}</td>
					<td contenteditable="true">{{row.newDataColumn4}}</td>
					<td>{{row.currentDataColumn5}}</td>
					<td contenteditable="true">{{row.newDataColumn5}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
			<button type="button" class="btn btn-primary" style="margin-left: 70%;">Submit</button>
	</div>
</div>