<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Rating Tool</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.css">
  <link rel="stylesheet" type="text/css" href="components/angular-gridster/dist/angular-gridster.min.css"/>
  <link rel="stylesheet" type="text/css" href="components/angular-ui-grid/ui-grid.css"/>
  <link rel="stylesheet" type="text/css" href="components/nvd3/build/nv.d3.min.css"/>
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/d3/d3.min.js"></script>
  <script type="text/javascript" src="components/nvd3/build/nv.d3.min.js"></script>
  <script type="text/javascript" src="components/angular-nvd3/dist/angular-nvd3.min.js"></script>
  <script type="text/javascript" src="components/angular-gridster/dist/angular-gridster.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-grid/ui-grid.min.js"></script>
  <script type="text/javascript" src="components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="components/angular-touch/angular-touch.min.js"></script>
  <script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="components/angular-smart-table/dist/smart-table.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>

  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
  <style type="text/css">
  #navigation {
    background: #30426a;
  }

  .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #f3f3f3;
  }

  .navbar-inverse .navbar-brand {
    color: #f3f3f3;
  }

  .navbar-inverse .navbar-nav > .active a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #333 !important;
    color: #f5f5f5 !important;
  }
  .navbar-inverse .navbar-nav > li.active > a {
    background-color: #337ab7 !important;
    color: #f5f5f5 !important;
  }

  </style>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Header Bar -->
    <!-- <div class="row header"> -->
    <nav id="navigation" class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">Rating Tool</span>
        </div>
        <ul class="nav navbar-nav" style="margin-left: 10%;">
          <li><a ui-sref="overview">Overview </a></li>
          <li><a ui-sref="ratingfactor">Rating Factors </a></li>
          <li><a ui-sref="impact">Impact </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="width: 50px;">
          <li>
              <div class="item dropdown" uib-dropdown>
            <a href="#" class="dropdown-toggle pull_right" uib-dropdown-toggle>
              <img src="img/avatar.jpg" style="width:100%;">
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">
                User1
              </li>
              <li class="divider"></li>
              <li class="link">
                <a href="#">
                  Logout
                </a>
              </li>
            </ul>
          </div>
          </li>
        </ul>
      </div>
    </nav>
    <!--  </div> -->
    <!-- End Header Bar -->
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

       <!-- Sidebar -->
 <!--      <div id="sidebar-wrapper">
        <form>
          <ul class="sidebar">
            <li class="sidebar-main">
              <a ng-click="toggleSidebar()">
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
              </a>
            </li>
          <li class="sidebar-list">
            <a ui-sref="overview">Overview <span class="menu-icon fa fa-table"></span></a>
          </li>
          <li class="sidebar-list">
            <a ui-sref="ratingfactor">Rating Factors <span class="menu-icon fa fa-tachometer"></span></a>
          </li>
          <li class="sidebar-list">
            <a ui-sref="impact">Impact <span class="menu-icon fa fa-table"></span></a>
          </li>  
        </ul>
      </form>
    </div> -->
    <!-- Main Content -->
    <ui-view> 
    <i>Loading ....</i>
  </ui-view>

</div><!-- End Page Content -->
</div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->
</body>
</html>
